div
    .chat(@if='this.state.activeRoom')

        .head

            Avatar.img(name='{this.state.activeRoom.name}' src='{this.state.activeRoom.avatar}'  size='50')

            .info

                p {this.state.activeRoom.name}
                
                p.online(@if='this.state.onlineUsers')
                    span(@repeat='this.state.onlineUsers as user') { user }
                        span.state.green &#8226; 

                p.online(@unless='this.state.onlineUsers.length') Offline
                    span.state.red &#8226;

        .chat_box

            .chat_content#chat

                Messages(allMessages='{this.state.allMessages}')

            .modal(@if='this.state.modal')

                .container(@unless='this.state.photo')
                    label.upload_photo
                        i.material-icons file_upload
                        input(type="file" name="messagePhoto" onChange='{this.handleFileChange.bind(this)}')
                .container(@if='this.state.photo')
                    .preview
                        img(src="{this.state.photo}")
                        a(onClick="{this.resetPhoto.bind(this)}")
                            i.material-icons clear
            
        Send(chatId='{this.state.activeRoom.id}' messagePhoto='{this.state.messagePhoto}' modal='{this.state.modal}' toggleModal='{this.toggleModal.bind(this)}' roomType="{this.state.roomType === 'friends' ? 'friend' : 'group'}")