form.send(onSubmit='{this.sendForm.bind(this)}')

    button(type='button' onClick='{() => this.props.toggleModal()}')

        span(@if='this.props.modal')
            i.material-icons(class='green') photo_camera
        span(@unless='this.props.modal')
            i.material-icons() photo_camera

    .message
        input(onChange='{this.handleMessage.bind(this)}' autoComplete='off' value='{this.state.message}')

    button
        i.material-icons send