form.send(method='POST' encType='multipart/form-data')

    button(type='button' @click='toggleModal')

        i.material-icons() photo_camera

    .message
        input#msg()

    button(type='button' @click="send")

        i.material-icons() send