form.send(encType='multipart/form-data')

    button(type='button' onClick='{() => this.props.toggleModal()}')

        span(@if='this.props.modal')
            i.material-icons(class='green') photo_camera
        span(@unless='this.props.modal')
            i.material-icons() photo_camera

    .message
        input#msg(onChange='{this.handleMessage.bind(this)}' autoComplete='off' value='{this.state.message}')

    button(type='button' @click="send")

        i.material-icons(onClick='{this.sendForm.bind(this)}') send