.manage_groups

    .head

        h1
            i.material-icons group_add

        .info
            p Groups
            p.name You can create public chat rooms for all users...


    .groups_box

        .content

            .chat_groups

                .data

                    NavLink(to="/wtsp/groups")
                        i.material-icons arrow_back

                    Avatar.avatar(name="{(this.state.name) ? this.state.name : '★'}" className="{this.state.photo || this.state.name ? 'avatar_shadow' : ''}" src="{this.state.photo}" size="55")

                    h4  Add Group

                    hr

                form(encType="multipart/form-data")
                    .group_input


                        label.upload_avatar

                            button.button_upload(@unless='this.state.photo' type='button')
                                i.material-icons backup

                            button.button_upload(@if='this.state.photo' type='button' onClick='{this.clearPhoto.bind(this)}')
                                i.material-icons clear

                            input(@unless='this.state.photo' type="file" name="avatar" onChange='{this.handleFileChange.bind(this)}')

                        input.input_name(name="name" value="{this.state.name}" type="text"  onChange='{this.handleNameChange.bind(this)}' placeholder="Group name...")

                        button.button_send(type='button' desabled onClick='{this.sendForm.bind(this)}') Create

                    Select(isMulti='{true}' value='{this.state.selectedOption}' onChange='{this.handleChange.bind(this)}' options='{this.state.friends}')
