.manage_groups

    .head

        h1
            i.material-icons edit

        .info
            p Groups
            p.name You can create public chat rooms for all users...


    .groups_box

        .content

            .chat_groups

                .data

                    NavLink(to="/wtsp/groups")
                        i.material-icons arrow_back

                    Avatar.avatar(name="{(this.state.name) ? this.state.name : '★'}" className="{this.state.photo || this.state.name ? 'avatar_shadow' : ''}" src="{this.state.avatar}" size="55")

                    h4  Edit Group

                    hr

                form(onSubmit='{this.sendForm.bind(this)}')
                    .group_input


                        label.upload_avatar

                            button.button_upload(@unless='this.state.avatar' type='button')
                                i.material-icons backup

                            button.button_upload(@if='this.state.avatar' type='button' onClick='{this.clearPhoto.bind(this)}')
                                i.material-icons clear

                            input(@unless='this.state.avatar' type="file" name="avatar" onChange='{this.handleFileChange.bind(this)}')

                        input.input_name(name="name" value="{this.state.name}" type="text"  onChange='{this.handleNameChange.bind(this)}' placeholder="Group name...")

                        button.button_send(disabled='{this.state.invalid}') Save

                    Select(isMulti='{true}' value='{this.state.selectedOption}' onChange='{this.handleChange.bind(this)}' options='{this.state.friends}')
