.manage_groups

    .head

        h1
            i.material-icons group_add

        .info
            p Groups
            p.name You can create public chat rooms for all users...


    .groups_box

        .content

            .groups

                .group
                    NavLink(to="/wtsp/groups/add") Add Group

                .group
                    NavLink(to="/wtsp/groups/all") My Groups
