.manage_groups

    .head

        h1
            i.material-icons group_add

        .info
            p Groups
            p.name You can create public chat rooms for all users...


    .groups_box

        .content

            .chat_groups

                .data

                    NavLink.green.link_add(to="/wtsp/groups")
                        i.material-icons arrow_back

                    h4 My Groups

                        NavLink.green.link_add(to="/wtsp/groups/add")
                            i.add.material-icons add 

                    hr

                table

                    thead
                        tr
                            th Avatar 
                            th Name
                            th Edit
                            th Status

                    tbody(@unless='this.state.groups')
                        tr
                            td(colSpan='4') No records found, please
                                NavLink.green.link_add(to="/wtsp/groups/add") Add Groups

                    tbody(@if='this.state.groups && !this.state.groups.data.length')
                        tr
                            td(colSpan='4') No records found, please
                                NavLink.green.link_add(to="/wtsp/groups/add") Add Groups

                    tbody(@if='this.state.groups')

                        tr.data(@repeat='this.state.groups.data as group')

                            td
                                Avatar.table_avatar(size="45" src="{group.avatar}" name="{group.name}")

                            td {group.name}

                            td
                                NavLink(to="{`/wtsp/groups/edit/${group.id}`}") 
                                    i.material-icons.green mode_edit

                            td
                                button.format(onClick="{() => this.deleteGroup(group.id)}")
                                    i.material-icons.red delete

                Paginate(@if='this.state.groups' getGroups='{this.getGroups.bind(this)}' source='{this.state.groups}')