section 
    .list(@repeat='this.props.randomUsers as user')
        Avatar.image(name='{user.username}' src='{user.avatar}' size='60')
        button.name(onClick='{() => this.props.getUserById(user.id)}') { user.username }
    .list(v-if="records")
        button.random(onClick='{this.listUsers.bind(this)}')
            i.material-icons cached