.left_app

    .menu
        NavLink(to="{this.props.match.path + '/profile'}")
            Avatar.avatar(name='Ismael Haytam' size='45' round='{true}')

        NavLink(to="{this.props.match.path + '/profile'}") Ismael Haytam

        .icons
            i.material-icons person_add

            a.notifications(data-badge='8')
                i.material-icons notifications
                
            a
                i.material-icons fingerprint

    Search

    .filter
        button(onClick='{() => this.props.chatsToggle(this.props.toggleStatus)}' className='{button.friends}') Friends
        button(onClick='{() => this.props.chatsToggle(this.props.toggleStatus)}' className='{button.groups}') Groups
    List
