.left_app

    .menu
        a
            Avatar.avatar(name='Ismael Haytam' size='45' round='{true}')

        a Ismael Haytam

        .icons
            i.material-icons person_add

            a.notifications(data-badge='8')
                i.material-icons notifications
                
            a
                i.material-icons fingerprint

    Search

    .filter
        button Friends
        button Groups
    List
