.left_app

    .menu
        NavLink(to="/wtsp/profile")
            Avatar.avatar(name='{this.props.auth.authenticated.user.username}' size='45' src='{this.props.auth.authenticated.user.avatar}')

        NavLink(to="/wtsp/profile") {this.props.auth.authenticated.user.username}

        .icons

            NavLink(to="/wtsp/groups")
                i.material-icons person_add

            a.notifications(data-badge='8')
                i.material-icons notifications
                
            a
                i.material-icons fingerprint

    Search

    .filter
        button(onClick='{() => this.props.chatsToggle(this.props.chats.toggleStatus)}' className='{button.friends}') Friends
        button(onClick='{() => this.props.chatsToggle(this.props.chats.toggleStatus)}' className='{button.groups}') Groups
    List
