.contact_list

    .section(@if='this.props.chats.toggleStatus')
        .contact(@repeat='this.state.room.friends as friend')
            NavLink(onClick='{responsive.showRight}' to="{'/wtsp/chats/friends/' + this.format(friend.user.username)}")
                Avatar.photo(name='{friend.user.username}' src='{friend.user.avatar}' size='55')
            .preview
                .text
                    h5 
                        a { friend.user.username }
                    h6
                        span(@if='friend.message')
                            span(@if='friend.message.body && friend.message.photo')
                                i.material-icons.photo photo
                                Preview(message='{friend.message.body}')
                            span(@if='friend.message.body && !friend.message.photo')
                                Preview(message='{friend.message.body}')
                            span(@if='friend.message.photo && !friend.message.body')
                                i.material-icons.photo photo
                                | a photo has been shared
                            span(@if='!friend.message.body && !friend.message.photo') Empty...
                        span(@if='!friend.message') Empty chat...

            .time
                p(@if='friend.message') 
                    Moment(interval='{30000}' durationFromNow='{true}') {friend.message.created_at}
                i.material-icons(@if='!friend.message') fiber_new

        .contact(@unless='this.state.room.friends.length')
            p.middle Friend not found

    .section(@unless='this.props.chats.toggleStatus')
        .contact(@repeat='this.state.room.groups as group')
            NavLink(onClick='{responsive.showRight}' to="{'/wtsp/chats/groups/' + this.format(group.name)}")
                Avatar.photo(name='{group.name}' src='{group.avatar}' size='55')
            .preview
                .text
                    h5 
                        a { group.name }
                    h6
                        span(@if='group.message')
                            span(@if='group.message.body && group.message.photo')
                                i.material-icons.photo photo
                                Preview(message='{group.message.body}')
                            span(@if='group.message.body && !group.message.photo') 
                                Preview(message='{group.message.body}')
                            span(@if='group.message.photo && !group.message.body')
                                i.material-icons.photo photo
                                | a photo has been shared
                            span(@if='!group.message.body && !group.message.photo') Empty...
                        span(@if='!group.message') Empty chat...
                        

            .time
                p(@if='group.message')
                    Moment(interval='{30000}' durationFromNow='{true}') {group.message.created_at}
                i.material-icons(@if='!group.message') fiber_new

        .contact(@unless='this.state.room.groups.length')
            p.middle Group not found
            

        

    